* {
  margin: 0;
  padding: 0;
}

body {
  background: #8a8a8a;
}

.container {
  max-width: 800px;
  background: #fff;
  margin: 0 auto;
  padding: 25px;
}

.container h1 {
  color: #000000;
  margin-bottom: 20px;
}